<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AOL_Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <AOL_Logger.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>user id = jksql; password=jksqls; server=(local); Trusted_Connection=yes; database=AOLLogger; connection timeout=60</value>
      </setting>
      <setting name="execution_hours" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="execution_minutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="days_between_aggregations" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="hours_to_keep" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="logFile" serializeAs="String">
        <value>C:\AOLLogger.log.txt</value>
      </setting>
      <setting name="folderPrefix" serializeAs="String">
        <value>AOL_</value>
      </setting>
    </AOL_Logger.Properties.Settings>
  </userSettings>
</configuration>